<header class="header mat-elevation-z2">
  <app-topbar
    [siteName]="siteName()"
    [crumbs]="crumbs()"
    (toggleTheme)="theme.toggle()">
  </app-topbar>
</header>

<div class="logo">
  <app-logo></app-logo>
</div>

<nav class="nav">
  <app-vault-explorer></app-vault-explorer>
</nav>

<main class="main">
  <!-- 👉 c’est ICI que les pages s’affichent -->
  <router-outlet />
</main>

<footer class="footer">
  © {{author()}} —
  <a [href]="repo()" target="_blank" rel="noopener">Code source</a>
</footer>
