# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

# Artillery files - Prettier breaks {{ }} template syntax
artillery-load-test.yml
artillery-processor.js
