:host {
  display: block;
  inline-size: 100%;
}

.search-field {
  inline-size: 100%;

  .search-ico {
    opacity: 0.85;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: color-mix(in oklab, var(--mat-sys-outline-variant) 80%, transparent);
  }

  input {
    font-size: 0.9rem;
    height: 32px;
    padding-block: 0.1rem;
  }
}
